# Ignore build files
build/*

# Mac OS X dumps these all over the place.
.DS_Store

# Ignore the /vendor/ directory for people using composer
/vendor/

# Ignore IDE's configuration files
.idea

# Ignore PHP CS Fixer local config and cache
.php_cs
.php_cs.cache
.php-cs-fixer.cache